image: python:3.12

stages:
  - build
  - deploy

cache:
  paths:
    - .venv/
    - .cache/pip/

before_script:
  - python -m venv .venv
  - . .venv/bin/activate
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt

build_site:
  stage: build
  script:
    - . .venv/bin/activate
    - python -m mkdocs build
  artifacts:
    paths:
      - site/
    expire_in: 1 week
  only:
    - main

deploy:
  stage: deploy
  script:
    - echo "Deploying to $STATIC_DEPLOY_URL"
    - rsync -rav --delete-after ./site/ $STATIC_DEPLOY_URL
  artifacts:
    paths:
      - site/
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
